*,
*::after,
*::before {
  box-sizing: border-box;
}

.page,
.page-body {
  height: 100%;
}

.page-body {
  margin: 0;
  font-family: sans-serif;
}

.page-title {
  font-size: 60px;
  font-size: 2em;
  font-size: 2rem;
  border: 1px solid #000;
  width: 40%;
  width: 50vw;
  width: calc(100% - 100px);
  width: 400px;
  padding: 20px;
}
.text {
  width: 400px;
  min-height: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #00f;
  display: inline-block;
  line-height: 1.5;
  padding: 40px 0;
}
